:root {
    --main-blue: #45567d;
    --main-white: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;

}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color:rgb(122, 185, 240);
    position: fixed;
    width: 100%;
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist li {
   
}

.navlist a {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}

.navlist a:hover {
    background: var(--main-blue);
    padding: 2rem;
}

#welcome-section {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 h1 {
     font-size: 5rem;
     font-family: 'Poppins', sans-serif;
     color:rgb(122, 185, 240);
 }


#contacts {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacts h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(110, 168, 219);
    padding: 2rem;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.contact-links {
   
    color: rgb(122, 185, 240);
    padding: 1.5rem;
    display: flex;
}

#contacts a {
    font-size: 2rem;
     font-family: 'Poppins', sans-serif;
    color: rgb(122, 185, 240);
    padding: 2rem;
    /* transition: transform 0.3s ease-out; */
}
#contacts a:hover {
    background-color: var(--main-blue);
    padding: ;
    transform: translateY(8px);
}
#projects h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(110, 168, 219);
    padding: 2rem;
}
#projects  a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(122, 185, 240);
    padding: 2rem;
    
}
#projects {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-tiles a {
    margin: 2rem;
}

.project-tile img {
    width: 20rem
    
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 640px / 16px = 40em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }